*{
    margin: 0;
    padding: 0;
}

h1{
    color: #9197AE;
    font-size:xx-large;
}
body{
    background-color: #273043;
    text-align: center;
}

.container{
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2.8vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1.3rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    font-size: 8vmin;
    color: #273043;
}

#reset{
    padding: 1rem;
    font-size: 1.25rem;
    background-color:#9197AE;
    color: black;
    border-radius: 1rem;
    border: none;
}

#newgame{
    padding: 1rem;
    font-size: 1.25rem;
    background-color:#9197AE;
    color: black;
    border-radius: 1rem;
    border: none;
}

#msg{
    color:#9197AE;
    font-size: 5vmin;
}

.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.hide{
    display: none;
}